<div class="nested-fields">
  <div>
    <%= f.select("department_id", Department.all.collect {|p| [p.department_name, p.id] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <br/>
    <%= f.text_field :quantity %>
  </div>
</div>